.goal {

}  

.goal__img {
    width: 100%;
}

.goal__content {
    text-align: center;
    padding: 1.3rem 1rem;
    color: var(--color-dark-blue);
}

.goal__title {
    font-size: 1.6rem;
}

.goal__heading {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goal__profPic {
    width: 2.5rem;
}

.goal__owner {
    font-size: 0.8rem;
    font-weight: 700;
    margin-top: 0.7rem;
    transform: all 0.2s;
}

.goal__owner:hover {
    color: var(--color-lime-green);
}

.goal__description {
    margin-top: 0.8rem;
    font-size: 0.6rem;
    font-weight: 300;
    line-height: 0.9rem;
}

.goal__details {
    margin-top: 1.5rem;
    text-align: left;
    font-size: 0.9rem;
    line-height: 1.3rem;
}

.goal__divider {
    border-radius: 1rem;
    height: 0.4rem;
    width: 100%;
    background-color: var(--color-gray);
    margin-top: 1.5rem;
}

.goal__amount {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goal__maxAmount {
    font-weight: 700;
    font-size: 1.7rem;
    color: var(--color-lime-green);
}

.goal__currAmount {
    font-weight: 700;
    font-size: 0.9rem;
}

.goal__progress {
    margin-top: 1.5rem;
}

.goal__percent {
    font-size: 0.8rem;
}

.goal__progressBar {
    margin-top: 0.5rem;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 0.8rem;
    border-radius: 1rem;
    outline: none;
    background-color: var(--color-dark-blue);
}

.goal__progressBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
}

.goal__fund {
    margin-top: 1.5rem;
    border: none;
    width: 9rem;
    padding: 0.7rem 0;
    border-radius: 1.5rem;
    background: linear-gradient(90deg, var(--color-lime-green), var(--color-bright-cyan));
    color: white;
    font-size: 1rem;
    font-weight: 700;
}

@media screen and (min-width: 1024px) {
    .goal__imgContainer {
        width: 100%;
        aspect-ratio: 2.7/1;
        overflow: hidden;
    }

    .goal__content {
        padding-inline: 6rem;
        padding-top: 3rem;
    }

    .goal__title {
        font-size: 3rem;
    }

    .goal__heading {
        margin-top: 1.5rem;
    }

    .goal__profPic {
        width: 3.5rem;
    }

    .goal__owner {
        font-size: 1.3rem;
    }

    .goal__description {
        font-size: 0.9rem;
        line-height: 1.1rem;
        width: 70%;
        margin-inline: auto;
    }

    .goal__details {
        margin-top: 2rem;
        font-size: 1.4rem;
        line-height: 1.8rem;
    }

    .goal__divider {
        margin-top: 2.5rem;
        width: 40%;
        margin-inline: auto;
    }

    .goal__funding {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .goal__amount {
        flex: 1;
        align-items: flex-start;
        row-gap: 0.5rem;
    }

    .goal__maxAmount {
        font-size: 2.5rem;
    }

    .goal__currAmount {
        font-size: 1.5rem;
    }
}