@font-face {
  font-family: 'Public Sans';
  src: url("../public/assets/fonts/PublicSans/static/PublicSans-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: 'Public Sans';
  src: url("../public/assets/fonts/PublicSans/static/PublicSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Public Sans';
  src: url("../public/assets/fonts/PublicSans/static/PublicSans-Bold.ttf");
  font-weight: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Fonts */
  font-size: 18px;
  font-family: 'Public Sans', sans-serif;

  /* Colors */
  --color-dark-blue: hsl(233, 26%, 24%);
  --color-lime-green: hsl(136, 65%, 51%);
  --color-bright-cyan: hsl(192, 70%, 51%);
  --color-gray-blue: hsl(233, 8%, 62%);
  --color-light-gray-blue: hsl(220, 16%, 96%);
  --color-light-gray: hsl(0, 0%, 98%);
  --color-white: hsl(0, 0%, 100%);
}
