.fund {
    border: none;
    border-radius: 0.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    width: 85%;
}

.fund::backdrop {
    background: rgba(0,0,0,0.25);
}

.fund__form {
    display: flex;
    flex-direction: column;
    row-gap: 0.6rem;
}

.fund__label {
    font-size: 1rem;
}

.fund__label span {
    font-weight: 600;
}

.fund__input {
    text-align: right;
    padding: 0.5rem;
    outline: none;
    border-radius: 0.2rem;
    border: solid 0.1rem var(--color-dark-blue);
    font-size: 0.7rem;
    font-family: 'Public Sans';
    font-weight: 700;
}

.fund__input:focus {
    border-color: var(--color-lime-green);
}

.fund__buttons {
    margin-top: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.7rem;
}

.fund__cancel,
.fund__confirm {
    border: none;
    font-size: 0.7rem;
    font-weight: 700;
}

.fund__cancel {
    background: none;
    color: var(--color-gray-blue);
}

.fund__confirm {
    background-color: var(--color-lime-green);
    color: white;
    padding: 0.6rem 0;
    border-radius: 2rem;
    width: 100%;
}