.goal__progress {
    margin-top: 1.5rem;
}

.goal__percent {
    font-size: 0.8rem;
    text-align: center;
}

.goal__progressBar {
    margin-top: 0.5rem;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 0.8rem;
    border-radius: 1rem;
    outline: none;
    background-color: var(--color-dark-blue);
}

.goal__progressBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
}