.footer {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

.footer * {
    color: var(--attribution-font-color);
}

.footer__attribution {
    font-size: 0.8rem;
}

.footer__attributionLink {
    text-decoration: none;
    font-weight: 700;
}